

body{
    background-size: cover;
   background-image:url(../img/auckland-sunset.jpg);
   background-repeat: repeat;
    background-color: burlywood;
    
    

    } 

    .header {

        text-align: center;
        padding: 30px;
        margin: 30px;
    }

    .nav {
        display: flex;
          align-content: center;
          justify-content: center;
          gap: 60px;
          list-style-type: none;
    }
    
    .nav li a {
        text-decoration: none;
        font-size: 1.2rem;
        color: white;
      }

.page-header { 
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 0px;
}

.Auckland-image {
    max-width: 100%;
    height: auto; 
   border-radius: 30px;  

}

.Intro {
    text-align: center;
    color: white;
    font-size: 20px;
}

.blog-topic {
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 0px;
}

.blog-content {
    
    color: white;
    font-size: 20px;
    text-align: center;
    justify-content: space-around;
    margin: 10px;
        
}



.sub-topics {
    color: white;
    font-size: 30px;
    text-align: center;
    
}

#selfy {
    width: 200px;
     border-radius: 100px;
 } 
