

body{
    background-size: cover;
   background-image:url(../auckland-sunset.jpg);
   background-repeat: repeat;
    background-color: burlywood;

    } 

.page-header { 
    color: white;
    font-size: 30px;
    text-align: center;
 
    margin: 0px;
}

.Auckland-image {
    max-width: 100%;
    height: auto; 
   border-radius: 30px;  

   
}


.Intro {
    text-align: center;
    color: white;
    font-size: 20px;
}

#selfy {
   width: 200px;
    border-radius: 100px;
}

